<div style="display: flex; flex-direction: column; align-items: center;">
  <div id="highcharts" style="width: 100%; height: 290px;">
      <app-detalle-sensor [galga]="elemento" [value]="value" style="margin-bottom: 10px;"></app-detalle-sensor>
  </div>
  <br>
  <ion-col size="5" style="margin-top: -10px;">
    <ion-text style="text-align: center;">
      Presión: {{value | unidad}}
    </ion-text>
    <ion-button expand="full" color="tertiary" (click)="toggleValve()">{{ isValveOpen ? 'Cerrar electroválvula' : 'Abrir electroválvula' }}</ion-button>
    <ion-button expand="full" color="tertiary" (click)="verMediciones(elemento)">Ver todas las mediciones</ion-button>
    <ion-button expand="full" color="tertiary" (click)="verLogs(elemento)">Ver Log de riegos</ion-button>
    <ion-button color="tertiary" routerLink="/home">Volver</ion-button>
  
  </ion-col>
</div>
